<h2>Lista dzieci</h2>

<ul>
    {{#each childrenList}}
        <li>
            <label>
                {{this.name}} 
                <select name="" id="">
                    <option value="">brak</option>
                    {{!-- {{log giftList}} --}}
                    {{#each ../giftList}}
                        <option value="{{this.name}}">{{this.name}}</option>
                    {{/each}}
                </select>
                <button>Zapisz</button>
            </label>
        </li>
    {{/each}}
</ul>

<h2>Dodaj dziecko do listy</h2>
<form action="">
    <label for="name">Imię</label>
    <input type="text" id="name" name="name">
    <label for="count">Ilość [szt.]</label>
    <input type="number" id="count" name="count">
    <button type="button">Dodaj</button>
</form>