<h2>Zarejestruj wojownika</h2>
<form action="/warrior" method="post">
    <label for="name" class="stats">
        Imię:
        <input type="text" name="name" id="name">
    </label>
    <label for="power" class="stats">
        Siła:
        <input type="number" name="power" id="power" value="1">
    </label>
    <label for="defense" class="stats">
        Obrona:
        <input type="number" name="defense" id="defense" value="1">
    </label>
    <label for="stamina" class="stats">
        Wytrzymałość:
        <input type="number" name="stamina" id="stamina" value="1">
    </label>
    <label for="agility" class="stats">
        Zwinność:
        <input type="number" name="agility" id="agility" value="1">
    </label> 
</form>