<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Arena Walk</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <h1>Arena Walk</h1>
    <ul>
        <a href="/warrior/add-form">Rejestracja wojownika</a>
    </ul>
    <ul>
        <a href="/arena/fight-form">Arena walk</a>
    </ul>
    <ul>
        <a href="/hall-of-fame">Sala sław</a>
    </ul>
</header>
{{{body}}}
</body>
</html>